<?xml version="1.0" encoding="utf-8" standalone="yes"?>
<settings>
    <category label="General">
      <setting label="TMDB" type="lsep"/>
      <setting id= "TMDB_api" type="text" option="hidden" label="TMDB Api key" default="TMDB" visible="true"/>
	  <setting label="Trakt" type="lsep"/>
      <setting id= "Trakt_user" type="text" label="Trakt User Name" default="user name" visible="true"/>
	  <setting id= "Trakt_api" type="text" option="hidden" label="Trakt Client key" default="api" visible="true"/>
	</category>  
	<category label="XML Options">
	  <setting label="Text" type="lsep"/>
	  <setting id= "Text_color" type="text" label="Text Color" default="white" visible="true"/>
	  <setting label="Enable Bold Type" type="bool" id="bold_type" default="false"/>
	</category>  
</settings>
