<?xml version="1.0" encoding="utf-8" standalone="yes"?>
<settings>
    <!-- General -->
    <category label="32001">
        <!-- Appearance -->
        <setting label="32002" type="lsep" />
        <setting id="fen.theme" label="32004" type="enum" default="0" lvalues="32005|32006" />
        <setting id="unaired_episode_colour" type="action" label="32007" default="red" action="RunPlugin(plugin://plugin.video.fen/?mode=unaired_episode_color_choice)" />
        <setting id="show_specials" type="bool" label="32008" default="false" />
        <setting id="use_season_title" type="bool" label="32010" default="false" />
        <setting id="disable_changelog_popup" type="bool" label="32012" default="false" />
        <!-- Navigation -->
        <setting label="32016" type="lsep" />
        <setting id="auto_start_fen" type="bool" label="32017" default="false" />
        <setting id="paginate.lists" type="bool" label="32019" default="false" />
        <setting id="page_limit" label="32020" type="number" default="40" visible="eq(-1,true)" subsetting="true" />
        <setting id="nav_jump" label="32021" type="enum" default="0" lvalues="32022|32023" visible="eq(-3,false)+eq(-2,true)" subsetting="true" />
        <setting id="nav_jump_dummy" label="32021" type="enum" default="0" lvalues="32022" visible="eq(-4,true)+eq(-3,true)" subsetting="true" />
        <setting id="ignore_articles" type="bool" label="32025" default="true" />
        <setting id="default_all_episodes" label="32009" type="enum" default="0" lvalues="32031|32032|32033" />
        <!-- Watched Indicators -->
        <setting label="32034" type="lsep" />
        <setting id="trakt_indicators_active" type="text" label="trakt_indicators_active" default="false" visible="false" />
        <setting id="watched_indicators" type="enum" lvalues="32036|32037" label="32035" default="0" visible="eq(-1,true)" />
        <setting id="sync_fen_watchstatus" type="bool" label="32038" default="false" subsetting="true" visible="eq(-1,1)" />
        <setting id="amble.indicators" label="32039" type="text" default="" visible="eq(-3,false)" enable="false" />
        <setting id="sync_kodi_library_watchstatus" type="bool" label="32040" default="false" />
        <setting id="resume.threshold" label="32041" type="slider" default="2" range="1,1,50" option="int" />
        <setting id="watched.threshold" label="32042" type="slider" default="90" range="50,1,99" option="int" />
        <setting id="nextep.threshold" label="32043" type="slider" default="90" range="50,1,99" option="int" />
        <!-- UTC Time Offset -->
        <setting label="32101" type="lsep" />
        <setting id="datetime.offset" label="32045" type="slider" default="0" range="-15,1,15" option="int" />
        <!-- Backup/Restore -->
        <setting label="32046" type="lsep" />
        <setting id="backup_directory" type="folder" label="32047" default="" />
        <setting id="backup.backup" type="action" label="32048" default="" action="RunPlugin(plugin://plugin.video.fen/?mode=backup_settings)" subsetting="true" />
        <setting id="backup.restore" type="action" label="32049" default="" action="RunPlugin(plugin://plugin.video.fen/?mode=restore_settings)" subsetting="true" />
        <!-- Hidden -->
        <setting id="trakt_refresh_token" label="trakt refresh token" type="text" visible="false" />
        <setting id="trakt_expires_at" label="trakt expires at" type = "text" visible="false" />
        <setting id="rd.auth" label="rd auth" type="text" visible="false" />
        <setting id="rd.client_id" label="rd client_id" type = "text" visible="false" />
        <setting id="rd.refresh" label="rd refresh" type = "text" visible="false" />
        <setting id="rd.secret" label="rd secret" type = "text" visible="false" />
        <setting id="fenomscrapers.version" label="fenomscrapers version" type = "text" visible="false" />
        <setting id="version_number" label="version_number" type = "text" visible="false" />
        <setting id="version_check" label="version_check" type = "text" visible="false" />
        <setting id="failing_scrapers.reset_time" label="scrapers reset time" type = "text" visible="false" />
        <setting id="service_time" type="text" label="Service Time" default="2000-01-01 00:00:00" visible="false" />
        <setting id="amble.subtitle" type="text" default="" visible="hidden" />
        <setting id="results.sort_order" type="text" default="0" visible="hidden" />
        <setting id="results.internal_scrapers_order" type="text" default="FILES, FURK, EASYNEWS, CLOUD" visible="hidden" />
        <setting id="reuse_language_invoker" type="text" default="true" visible="hidden" />
        <setting id="notification.nextep" type="text" default="false" visible="false" />
        <setting id="notification.watched_status" type="text" default="false" visible="false" />
        <setting id="notification.progress" type="text" default="false" visible="false" />
        <setting id="notification.duration_finish" type="text" default="false" visible="false" />
        <setting id="notification.last_aired" type="text" default="false" visible="false" />
        <setting id="notification.next_aired" type="text" default="false" visible="false" />
        <setting id="notification.production_status" type="text" default="false" visible="false" />
        <setting id="notification.budget_revenue" type="text" default="false" visible="false" />
        <setting id="tvdb.jwtoken" type="text" default="" visible="false" />
        <setting id="tvdb.jwtoken_expiry" type="text" default="" visible="false" />
    </category>
    <!-- Accounts -->
    <category label="32050">
        <!-- My Accounts -->
        <setting label="33026" type="lsep" />
        <setting label="33027" type="action" option="close" action="RunPlugin(plugin://plugin.video.fen/?mode=myaccounts.open)" />
        <setting label="33028" type="action" action="RunPlugin(plugin://plugin.video.fen/?mode=myaccounts.sync)" />
        <!-- Furk -->
        <setting label="32069" type="lsep" />
        <setting id="furk_login" type="text" label="32051" default="" enable="false" />
        <setting id="furk_password" type="text" label="32052" default="" enable="false" />
        <setting id="furk_api_key" type="text" label="32053" default="" />
        <setting id="amble.furk.myaccounts" label="33029" type="action" option="close" action="RunPlugin(plugin://plugin.video.fen/?mode=myaccounts.open&amp;query=3.4)" visible="eq(-3,)+eq(-1,)" />
        <!-- Easynews -->
        <setting label="32070" type="lsep" />
        <setting id="easynews_user" type="text" label="32051" default="" enable="false" />
        <setting id="easynews_password" type="text" label="32052" default="" enable="false" />
        <setting id="easynews.api_version" label="33007" type="enum" default="0" lvalues="33008|33009" visible="!eq(-2,)" />
        <setting id="amble.en.myaccounts" label="33029" type="action" option="close" action="RunPlugin(plugin://plugin.video.fen/?mode=myaccounts.open&amp;query=3.9)" visible="eq(-3,)" />
        <!-- Real Debrid -->
        <setting label="32054" type="lsep" />
        <setting id="rd.token" label="rd token" type="text" default="" visible="hidden" />
        <setting id="rd.enabled" type="bool" label="33024" default="true" visible="!eq(-1,)" />
        <setting id="rd.username" label="32056" type="text" default="" visible="eq(-1,true)+!eq(-2,)" enable="false" />
        <setting id="rd.torrent.enabled" type="bool" label="33015" visible="eq(-2,true)+!eq(-3,)" default="true" />
        <setting id="rd.hoster.enabled" type="bool" label="33016" visible="eq(-3,true)+!eq(-4,)" default="true" />
        <setting id="rd.priority" label="32011" type="slider" range="1,1,10" option="int" visible="eq(-4,true)+!eq(-5,)" default="10" />
        <setting id="store_torrent.real-debrid" label="32060" type="bool" visible="eq(-5,true)+!eq(-6,)" default="false" />
        <setting id="amble.rd.myaccounts" label="33029" type="action" option="close" action="RunPlugin(plugin://plugin.video.fen/?mode=myaccounts.open&amp;query=1.21)" visible="eq(-7,)" />
        <!-- Premiumize -->
        <setting label="32061" type="lsep" />
        <setting id="pm.token" label="pm token" type="text" default="" visible="hidden" />
        <setting id="pm.enabled" type="bool" label="33024" default="true" visible="!eq(-1,)" />
        <setting id="pm.account_id" label="32062" type="text" default="" visible="eq(-1,true)+!eq(-2,)" enable="false" />
        <setting id="pm.torrent.enabled" type="bool" label="33015" visible="eq(-2,true)+!eq(-3,)" default="true" />
        <setting id="pm.hoster.enabled" type="bool" label="33016" visible="eq(-3,true)+!eq(-4,)" default="true" />
        <setting id="pm.priority" label="32011" type="slider" range="1,1,10" option="int" visible="eq(-4,true)+!eq(-5,)" default="10" />
        <setting id="store_torrent.premiumize.me" label="32060" type="bool" visible="eq(-5,true)+!eq(-6,)" default="false" />
        <setting id="amble.pm.myaccounts" label="33029" type="action" option="close" action="RunPlugin(plugin://plugin.video.fen/?mode=myaccounts.open&amp;query=1.13)" visible="eq(-7,)" />
        <!-- All Debrid -->
        <setting label="32063" type="lsep" />
        <setting id="ad.token" label="ad token" type="text" default="" visible="hidden" />
        <setting id="ad.enabled" type="bool" label="33024" default="true" visible="!eq(-1,)" />
        <setting id="ad.account_id" label="32056" type="text" default="" visible="eq(-1,true)+!eq(-2,)" enable="false" />
        <setting id="ad.torrent.enabled" type="bool" label="33015" visible="eq(-2,true)+!eq(-3,)" default="true" />
        <setting id="ad.hoster.enabled" type="bool" label="33016" visible="eq(-3,true)+!eq(-4,)" default="true" />
        <setting id="ad.priority" label="32011" type="slider" range="1,1,10" option="int" visible="eq(-4,true)+!eq(-5,)" default="10" />
        <setting id="store_torrent.alldebrid" label="32060" type="bool" visible="eq(-5,true)+!eq(-6,)" default="false" />
        <setting id="amble.ad.myaccounts" label="33029" type="action" option="close" action="RunPlugin(plugin://plugin.video.fen/?mode=myaccounts.open&amp;query=1.5)" visible="eq(-7,)" />
        <!-- Trakt -->
        <setting label="32037" type="lsep" />
        <setting id="trakt_access_token" label="trakt access token" type="text" default="" visible="hidden" />
        <setting id="trakt_user" label="32056" type="text" default="" visible="!eq(-1,)" enable="false" />
        <setting id="amble.trakt.myaccounts" label="33029" type="action" option="close" action="RunPlugin(plugin://plugin.video.fen/?mode=myaccounts.open&amp;query=0.1)" visible="eq(-2,)" />
        <!-- IMDb -->
        <setting label="32064" type="lsep" />
        <setting id="imdb_user" label="32065" type="text" default="" enable="false" />
        <setting id="imdb_lists.sort_type" label="32066" type="enum" default="0" lvalues="32215|32216|32217|32218|32219|32220|32221|32222|32223" visible="!eq(-1,)" />
        <setting id="imdb_lists.sort_direction" label="32067" type="enum" default="0" lvalues="32224|32225" visible="!eq(-2,)" />
        <setting id="amble.imdb.myaccounts" label="33029" type="action" option="close" action="RunPlugin(plugin://plugin.video.fen/?mode=myaccounts.open&amp;query=2.18)" visible="eq(-3,)" />
    </category>
    <!-- Notifications -->
    <category label="32211">
        <!-- Notifications -->
        <setting label="32211" type="lsep" />
        <setting id="notification.enabled" label="33066" type="bool" default="false" />
        <setting id="notification.choice" type="action" label="32144" default="$ADDON[plugin.video.fen 32652]" action="RunPlugin(plugin://plugin.video.fen/?mode=notifications_choice)"  visible="eq(-1,true)" subsetting="true"/>
        <!-- General -->
        <setting label="32001" type="lsep" />
        <setting id="notification.delay" label="33039" type="slider" default="2000" range="100,100,10000" option="int" />
        <setting id="notification.duration" label="33040" type="slider" default="2000" range="100,100,5000" option="int" />
    </category>
    <!-- Next Episodes -->
    <category label="32071">
        <!-- Content and Sorting -->
        <setting label="32072" type="lsep" />
        <setting id="nextep.sort_type" label="32066" type="enum" default="0" lvalues="32226|32227|32228" />
        <setting id="nextep.sort_order" label="32067" type="enum" default="0" lvalues="32225|32224" />
        <setting id="nextep.include_unaired" label="32073" type="bool" default="false" />
        <setting id="nextep.include_unwatched" label="32074" type="bool" default="false" />
        <setting id="nextep.include_in_progress" label="32171" type="bool" default="false" />
        <setting id="nextep.cache_to_disk" label="32075" type="bool" default="false" />
        <!-- Appearance -->
        <setting label="32002" type="lsep" />
        <setting id="nextep.include_airdate" label="32076" type="bool" default="true" />
        <setting id="nextep.airdate_format" label="32077" type="enum" default="0" lvalues="32229|32230|32231" subsetting="true" visible="eq(-1,true)" />
        <setting id="nextep.airdate_colour" type="action" label="32078" default="magenta" visible="eq(-2,true)" action="RunPlugin(plugin://plugin.video.fen/?mode=next_episode_color_choice&amp;setting=Airdate)" subsetting="true" />
        <setting id="nextep.unaired_colour" type="action" label="32079" default="red" action="RunPlugin(plugin://plugin.video.fen/?mode=next_episode_color_choice&amp;setting=Unaired)" />
        <setting id="nextep.unwatched_colour" type="action" label="32080" default="darkgoldenrod" action="RunPlugin(plugin://plugin.video.fen/?mode=next_episode_color_choice&amp;setting=Unwatched)" />
    </category>
    <!-- Trakt -->
    <category label="32037">
        <!-- Trakt Calendar -->
        <setting label="32081" type="lsep" />
        <setting id="calendar_focus_today" type="bool" label="32082" default="true" />
        <setting id="trakt.calendar_previous_days" label="32083" type="slider" default="7" range="0,1,10" option="int" />
        <setting id="trakt.calendar_future_days" label="32084" type="slider" default="7" range="0,1,10" option="int" />
        <!-- Trakt Widgets -->
        <setting label="32085" type="lsep" />
        <setting id="trakt_widget_limit" label="32086" type="number" default="20" />
        <!-- Trakt Cache -->
        <setting label="32087" type="lsep" />
        <setting id="trakt_cache_duration" label="32088" type="enum" default="0" lvalues="32232|32233|32234" />
        <setting id="refresh_trakt_on_startup" type="bool" label="32089" default="false" />
    </category>
    <!-- Internal Scrapers -->
    <category label="32096">
        <!-- Furk -->
        <setting label="32069" type="lsep" />
        <setting id="provider.furk" type="bool" label="32055" default="false" />
        <setting id="check.furk" type="bool" label="32104" default="false" enable="eq(-1,true)" subsetting="true" />
        <setting id="include_furk_in_filter" type="bool" label="32105" default="true" enable="eq(-2,true)" subsetting="true" />
        <setting id="furk.mod.level" label="32093" type="enum" default="0" lvalues="32027|32090|32091" subsetting="true" enable="eq(-3,true)" />
        <setting id="provider.furk_colour" type="action" label="32095" default="firebrick" action="RunPlugin(plugin://plugin.video.fen/?mode=scraper_color_choice&amp;setting=furk)" subsetting="true" enable="eq(-4,true)" />
        <!-- Easynews -->
        <setting label="32070" type="lsep" />
        <setting id="provider.easynews" type="bool" label="32055" default="false" />
        <setting id="check.easynews" type="bool" label="32104" default="false" enable="eq(-1,true)" subsetting="true" />
        <setting id="include_easynews_in_filter" type="bool" label="32105" default="true" enable="eq(-2,true)" subsetting="true" />
        <setting id="easynews_moderation" label="32102" type="bool" default="true" subsetting="true" enable="eq(-3,true)" />
        <setting id="provider.easynews_colour" type="action" label="32095" default="green" action="RunPlugin(plugin://plugin.video.fen/?mode=scraper_color_choice&amp;setting=easynews)" subsetting="true" enable="eq(-4,true)" />
        <!-- RD Cloud -->
        <setting label="32098" type="lsep" />
        <setting id="provider.rd-cloud" type="bool" label="32055" default="false" />
        <setting id="check.rd-cloud" type="bool" label="32104" default="false" enable="eq(-1,true)" subsetting="true" />
        <setting id="include_rd-cloud_in_filter" type="bool" label="32105" default="true" enable="eq(-2,true)" subsetting="true" />
        <setting id="results.sort_rd-cloud_first" type="bool" label="32103" default="true" enable="eq(-3,true)" subsetting="true" />
        <setting id="provider.rd-cloud_colour" type="action" label="32095" default="orange" action="RunPlugin(plugin://plugin.video.fen/?mode=scraper_color_choice&amp;setting=rd-cloud)" enable="eq(-4,true)" subsetting="true" />
        <!-- PM Cloud -->
        <setting label="32097" type="lsep" />
        <setting id="provider.pm-cloud" type="bool" label="32055" default="false" />
        <setting id="check.pm-cloud" type="bool" label="32104" default="false" enable="eq(-1,true)" subsetting="true" />
        <setting id="include_pm-cloud_in_filter" type="bool" label="32105" default="true" enable="eq(-2,true)" subsetting="true" />
        <setting id="results.sort_pm-cloud_first" type="bool" label="32103" default="true" enable="eq(-3,true)" subsetting="true" />
        <setting id="provider.pm-cloud_colour" type="action" label="32095" default="purple" action="RunPlugin(plugin://plugin.video.fen/?mode=scraper_color_choice&amp;setting=pm-cloud)" enable="eq(-4,true)" subsetting="true" />
        <!-- AD Cloud -->
        <setting label="32099" type="lsep" />
        <setting id="provider.ad-cloud" type="bool" label="32055" default="false" />
        <setting id="check.ad-cloud" type="bool" label="32104" default="false" enable="eq(-1,true)" subsetting="true" />
        <setting id="include_ad-cloud_in_filter" type="bool" label="32105" default="true" enable="eq(-2,true)" subsetting="true" />
        <setting id="results.sort_ad-cloud_first" type="bool" label="32103" default="true" enable="eq(-3,true)" subsetting="true" />
        <setting id="provider.ad-cloud_colour" type="action" label="32095" default="orange" action="RunPlugin(plugin://plugin.video.fen/?mode=scraper_color_choice&amp;setting=ad-cloud)" enable="eq(-4,true)" subsetting="true" />
        <!-- Folders 1-5 -->
        <setting label="32108" type="lsep" />
        <setting id="provider.folders" type="bool" label="32055" default="false" />
        <setting id="check.folders" type="bool" label="32104" default="false" enable="eq(-1,true)" subsetting="true" />
        <setting id="include_folders_in_filter" type="bool" label="32105" default="false" enable="eq(-2,true)" subsetting="true" />
        <setting id="results.sort_folders_first" type="bool" label="32103" default="true" enable="eq(-3,true)" subsetting="true" />
        <setting id="folders.clear" type="action" label="33035" default="" action="RunPlugin(plugin://plugin.video.fen/?mode=folder_clear_choice)" enable="eq(-4,true)" subsetting="true" />
        <setting id="provider.folders_colour" type="action" label="32095" default="red" enable="eq(-5,true)" action="RunPlugin(plugin://plugin.video.fen/?mode=scraper_color_choice&amp;setting=folders)" subsetting="true" />
        <setting type="sep" />
        <setting id="choice.folder_scrapers" label="32109" type="enum" default="0" lvalues="32110|32111|32112|32113|32114" enable="eq(-7,true)" />
        <setting type="sep" />
        <!-- Folder1 -->
        <setting id="folder1.display_name" label="32115" type="text" default="Folder 1" visible="eq(-2,0)" enable="eq(-9,true)" />
        <setting id="folder1.movies_directory" type="action" label="32116" default="None" action="RunPlugin(plugin://plugin.video.fen/?mode=folder_sources_choice&amp;setting=folder1.movies_directory)" visible="eq(-3,0)" enable="eq(-10,true)" />
        <setting id="folder1.tv_shows_directory" type="action" label="32117" default="None" action="RunPlugin(plugin://plugin.video.fen/?mode=folder_sources_choice&amp;setting=folder1.tv_shows_directory)" visible="eq(-4,0)" enable="eq(-11,true)" />
        <!-- Folder2 -->
        <setting id="folder2.display_name" label="32115" type="text" default="Folder 2" visible="eq(-5,1)" enable="eq(-12,true)" />
        <setting id="folder2.movies_directory" type="action" label="32116" default="None" action="RunPlugin(plugin://plugin.video.fen/?mode=folder_sources_choice&amp;setting=folder2.movies_directory)" visible="eq(-6,1)" enable="eq(-13,true)" />
        <setting id="folder2.tv_shows_directory" type="action" label="32117" default="None" action="RunPlugin(plugin://plugin.video.fen/?mode=folder_sources_choice&amp;setting=folder2.tv_shows_directory)" visible="eq(-7,1)" enable="eq(-14,true)" />
        <!-- Folder3 -->
        <setting id="folder3.display_name" label="32115" type="text" default="Folder 3" visible="eq(-8,2)" enable="eq(-15,true)" />
        <setting id="folder3.movies_directory" type="action" label="32116" default="None" action="RunPlugin(plugin://plugin.video.fen/?mode=folder_sources_choice&amp;setting=folder3.movies_directory)" visible="eq(-9,2)" enable="eq(-16,true)" />        
        <setting id="folder3.tv_shows_directory" type="action" label="32117" default="None" action="RunPlugin(plugin://plugin.video.fen/?mode=folder_sources_choice&amp;setting=folder3.tv_shows_directory)" visible="eq(-10,2)" enable="eq(-17,true)" />
        <!-- Folder4 -->
        <setting id="folder4.display_name" label="32115" type="text" default="Folder 4" visible="eq(-11,3)" enable="eq(-18,true)" />
        <setting id="folder4.movies_directory" type="action" label="32116" default="None" action="RunPlugin(plugin://plugin.video.fen/?mode=folder_sources_choice&amp;setting=folder4.movies_directory)" visible="eq(-12,3)" enable="eq(-19,true)" />
        <setting id="folder4.tv_shows_directory" type="action" label="32117" default="None" action="RunPlugin(plugin://plugin.video.fen/?mode=folder_sources_choice&amp;setting=folder4.tv_shows_directory)" visible="eq(-13,3)" enable="eq(-20,true)" />
        <!-- Folder5 -->
        <setting id="folder5.display_name" label="32115" type="text" default="Folder 5" visible="eq(-14,4)" enable="eq(-21,true)" />
        <setting id="folder5.movies_directory" type="action" label="32116" default="None" action="RunPlugin(plugin://plugin.video.fen/?mode=folder_sources_choice&amp;setting=folder5.movies_directory)" visible="eq(-15,4)" enable="eq(-22,true)" />
        <setting id="folder5.tv_shows_directory" type="action" label="32117" default="None" action="RunPlugin(plugin://plugin.video.fen/?mode=folder_sources_choice&amp;setting=folder5)" visible="eq(-16,4)" enable="eq(-23,true)" />
    </category>
    <!-- External Scrapers -->
    <category label="32118">
        <!-- External -->
        <setting label="32119" type="lsep" />
        <setting id="provider.external" type="bool" label="32055" default="true" />
        <!--General -->
        <setting label="32001" type="lsep" />
        <setting id="search.enable.yearcheck" type="bool" label="33006" enable="eq(-2,true)" default="false" />
        <setting id="search.finish.early" type="bool" label="32120" enable="eq(-3,true)" default="true" />
        <setting id="search.finish.default" label="32978" type="bool" default="true" subsetting="true" visible="eq(-4,true)+eq(-1,true)" />
        <setting id="search.finish.percent" label="32979" type="number" default="0" subsetting="true" visible="eq(-5,true)+eq(-2,true)+eq(-1,false)" />
        <setting id="search.finish.scrapers" label="32980" type="number" default="0" subsetting="true" visible="eq(-6,true)+eq(-3,true)+eq(-2,false)" />
        <setting id="search.finish.results" label="32981" type="number" default="0" subsetting="true" visible="eq(-7,true)+eq(-4,true)+eq(-3,false)" />
        <setting id="remove.failing_scrapers" type="bool" label="32121" enable="eq(-8,true)" default="false" />
        <setting id="failing_scrapers.threshold" label="32122" type="number" default="25" subsetting="true" visible="eq(-9,true)+eq(-1,true)" />
        <setting id="failing_scrapers.reset" label="32123" type="enum" default="0" lvalues="32134|32135|32136|32137" subsetting="true" visible="eq(-10,true)+eq(-2,true)" />
        <setting id="preemptive.termination" type="bool" label="32124" default="false" enable="eq(-11,true)" />
        <setting id="preemptive.quality" label="32125" type="enum" default="0" lvalues="32129|32130|32131|32132|32133" subsetting="true" visible="eq(-12,true)+eq(-1,true)" />
        <setting id="preemptive.limit" type="number" label="32126" default="5" subsetting="true" visible="eq(-13,true)+eq(-2,true)" />
        <!--Color Highlights -->
        <setting label="32138" type="lsep" />
        <setting id="hoster.identify" type="action" label="32127" default="dodgerblue" action="RunPlugin(plugin://plugin.video.fen/?mode=scraper_color_choice&amp;setting=hoster)" enable="eq(-15,true)" />
        <setting id="torrent.identify" type="action" label="32128" default="magenta" action="RunPlugin(plugin://plugin.video.fen/?mode=scraper_color_choice&amp;setting=torrent)" enable="eq(-16,true)" />
    </category>
    <!-- Results -->
    <category label="32139">
        <!-- Display -->
        <setting label="32140" type="lsep" />
        <setting id="scrapers.timeout.1" label="32141" type="number" default="30" />
        <setting id="results.xml_style" type="action" label="$ADDON[plugin.video.fen 32139] $ADDON[plugin.video.fen 32140]" default="List Default" action="RunPlugin(plugin://plugin.video.fen/?mode=results_xml_choice)" />
        <!-- Sorting and Filtering -->
        <setting label="32150" type="lsep" />
        <setting id="results.sort_order_display" type="action" label="32151" default="$ADDON[plugin.video.fen 32582]" action="RunPlugin(plugin://plugin.video.fen/?mode=results_sorting_choice)" />
        <setting id="results.internal_scrapers_order_display" type="action" label="32152" default="$ADDON[plugin.video.fen 32493], $ADDON[plugin.video.fen 32069], $ADDON[plugin.video.fen 32070], $ADDON[plugin.video.fen 32586]" action="RunPlugin(plugin://plugin.video.fen/?mode=internal_scrapers_order_choice)" />
        <setting id="remove.duplicates" type="bool" label="32153" default="true" />
        <setting id="remove.duplicates.torrents" type="bool" label="32154" default="true" />
        <setting id="include_prerelease_results" type="bool" label="32155" default="true" />
        <setting id="include_3d_results" type="bool" label="32156" default="true" />
        <setting id="filter_hevc" type="enum" lvalues="32188|32189|32190" label="32177" default="0" />
        <setting id="torrent.display.uncached" type="bool" label="32160" default="false" />
        <setting id="results.filter.size" type="bool" label="32161" default="false" />
        <setting id="results.include.unknown.size" type="bool" label="32162" default="true" subsetting="true" visible="eq(-1,true)" />
        <setting id="results.size.minimum.movies" type="text" label="32163" default="0" subsetting="true" visible="eq(-2,true)" />
        <setting id="results.size.maximum.movies" type="text" label="32164" default="35" subsetting="true" visible="eq(-3,true)" />
        <setting id="results.size.minimum.episodes" type="text" label="32165" default="0" subsetting="true" visible="eq(-4,true)" />
        <setting id="results.size.maximum.episodes" type="text" label="32166" default="5" subsetting="true" visible="eq(-5,true)" />
        <!-- Color Highlights -->
        <setting label="32138" type="lsep" />
        <setting id="int_dialog_highlight" type="action" label="32167" default="darkgoldenrod" action="RunPlugin(plugin://plugin.video.fen/?mode=scraper_dialog_color_choice&amp;setting=internal)" />
        <setting id="ext_dialog_highlight" type="action" label="32168" default="dodgerblue" action="RunPlugin(plugin://plugin.video.fen/?mode=scraper_dialog_color_choice&amp;setting=external)" />
    </category>
    <!-- Playback -->
    <category label="32174">
        <!-- Playback -->
        <setting label="32174" type="lsep" />
        <setting id="auto_play" type="bool" label="32175" default="false" />
        <setting id="autoplay_quality" type="action" label="32176" default="SD, 720p, 1080p, 4K" action="RunPlugin(plugin://plugin.video.fen/?mode=set_quality_choice&amp;quality_setting=autoplay)" visible="eq(-1,true)" subsetting="true" />
        <setting id="autoplay_next_episode" type="bool" label="32178" visible="eq(-2,true)" default="false" subsetting="true" />
        <setting id="autoplay_next_check_threshold" type="slider" default="3" range="0,1,10" option="int" visible="eq(-3,true)+!eq(-1,false)" label="32179" subsetting="true" />
        <setting id="results_quality" type="action" label="32176" visible="eq(-4,false)" default="SD, 720p, 1080p, 4K" action="RunPlugin(plugin://plugin.video.fen/?mode=set_quality_choice&amp;quality_setting=results)" />
        <setting id="auto_resume" type="enum" lvalues="32013|32015|32191" label="32181" default="0" />
        <!-- Playback Volume -->
        <setting label="33063" type="lsep" />
        <setting id="volumecheck.enabled" type="bool" label="33064" default="false" />
        <setting id="volumecheck.percent" label="33065" type="number" default="50" visible="eq(-1,true)" subsetting="true" />
        <!-- Subtitles -->
        <setting label="32182" type="lsep" />
        <setting id="subtitles.subs_action" type="enum" label="32183" default="2" lvalues="32192|32193|32027" />
        <setting id="subtitles.language" type="select" label="32184" values="Afrikaans|Albanian|Arabic|Armenian|Basque|Bengali|Bosnian|Breton|Bulgarian|Burmese|Catalan|Chinese|Croatian|Czech|Danish|Dutch|English|Esperanto|Estonian|Finnish|French|Galician|Georgian|German|Greek|Hebrew|Hindi|Hungarian|Icelandic|Indonesian|Italian|Japanese|Kazakh|Khmer|Korean|Latvian|Lithuanian|Luxembourgish|Macedonian|Malay|Malayalam|Manipuri|Mongolian|Montenegrin|Norwegian|Occitan|Persian|Polish|Portuguese|Portuguese(Brazil)|Romanian|Russian|Serbian|Sinhalese|Slovak|Slovenian|Spanish|Swahili|Swedish|Syriac|Tagalog|Tamil|Telugu|Thai|Turkish|Ukrainian|Urdu" default="English" enable="!eq(-1,2)" subsetting="true" />
        <setting id="subtitles.language2" type="select" label="32185" values="None|Afrikaans|Albanian|Arabic|Armenian|Basque|Bengali|Bosnian|Breton|Bulgarian|Burmese|Catalan|Chinese|Croatian|Czech|Danish|Dutch|English|Esperanto|Estonian|Finnish|French|Galician|Georgian|German|Greek|Hebrew|Hindi|Hungarian|Icelandic|Indonesian|Italian|Japanese|Kazakh|Khmer|Korean|Latvian|Lithuanian|Luxembourgish|Macedonian|Malay|Malayalam|Manipuri|Mongolian|Montenegrin|Norwegian|Occitan|Persian|Polish|Portuguese|Portuguese(Brazil)|Romanian|Russian|Serbian|Sinhalese|Slovak|Slovenian|Spanish|Swahili|Swedish|Syriac|Tagalog|Tamil|Telugu|Thai|Turkish|Ukrainian|Urdu" default="None" enable="!eq(-2,2)" subsetting="true" />
        <setting id="subtitles.auto_enable" type="bool" label="32186" enable="!eq(-3,2)" default="true" subsetting="true" />
        <setting id="subtitles.show_notification" type="bool" label="32187" enable="!eq(-4,2)" default="true" subsetting="true" />
        <setting id="subtitles.clear_on_start" type="bool" label="32795" enable="!eq(-5,2)" default="false" subsetting="true" />
    </category>
    <!-- Downloads -->
    <category label="32107">
        <!--Directories -->
        <setting label="32195" type="lsep" />
        <setting id="movie_download_directory" type="folder" label="32116" option="writeable" default="special://profile/addon_data/plugin.video.fen/Movies Downloads/" />
        <setting id="tvshow_download_directory" type="folder" label="32117" option="writeable" default="special://profile/addon_data/plugin.video.fen/TV Show Downloads/" />
        <setting id="premium_download_directory" type="folder" label="32210" option="writeable" default="special://profile/addon_data/plugin.video.fen/Premium Downloads/" />
        <setting id="image_download_directory" type="folder" label="33005" option="writeable" default="special://profile/addon_data/plugin.video.fen/Image Downloads/" />
        <!-- Notifications -->
        <setting label="32211" type="lsep" />
        <setting id="download.notification" label="32212" type="bool" default="true" />
        <setting id="download.frequency" label="32213" type="slider" default="10" range="2,1,50" option="int" visible="eq(-1,true)" subsetting="true" />
        <setting id="download.suppress" type="bool" label="32214" default="false" visible="eq(-2,true)" subsetting="true" />
    </category>
    <!-- Metadata -->
    <category label="32146">
        <!-- Fanart -->
        <setting type="lsep" label="32147" default="" />
        <setting id="get_fanart_data" label="32148" type="bool" default="false" />
        <!-- Image Resolution -->
        <setting type="lsep" label="32149" default="" />
        <setting id="image_resolutions" label="32170" type="enum" default="2" values="Low|Medium|High|Original" />
        <!-- Language -->
        <setting type="lsep" label="32658" default="" />
        <setting id="meta_language_display" type="action" label="32145" default="English" action="RunPlugin(plugin://plugin.video.fen/?mode=meta_language_choice)" />
        <setting id="meta_language" label="meta_language" type="text" default="en" visible="hidden" />
    </category>
</settings>
