<?xml version="1.0" encoding="utf-8" standalone="yes"?>
<settings>
	 <category label = "General">
		<setting id="cache_enabled" type="bool" label="Enable Caching" default="true"/>
		<setting id="tmdb_test" type="text" label="TMDB list url (just last 5 digits)" default=""/>
		<setting id="dev_log" type="bool" label="Enable Scraper Log [DEV]" default="false"/>
		<setting label="Disable All" type="action" option="close" action="RunPlugin(plugin://script.module.universalscrapers/?mode=DisableAll)"/>
		<setting label="Enable All" type="action" option="close" action="RunPlugin(plugin://script.module.universalscrapers/?mode=EnableAll)"/>
		<setting label="Deletelog" type="action" option="close" action="RunPlugin(plugin://script.module.universalscrapers/?mode=Deletelog)"/>
	</category>
	<category label="Scrapers 1">


<!-- [ORION/] -->
    <setting label="Orion" type="lsep" />
    <setting type="sep" />
    <setting id="Orion_enabled" type="bool" label="Enabled" default="true" />
    <setting id="Orion_settings" type="action" label="Settings" option="close" action="RunPlugin(plugin://script.module.orion?action=dialogSettings)" subsetting="true" visible="eq(-1,true)" />
    <setting id="Orion_info.1" type="enum" label="Info 1" default="10" values="None|Stream Provider|Stream Hoster|Torrent Seeds|File Size|Season Pack|Release Edition|Release Name|Uploader Name|Video Quality|Video Codec|Video 3D|Audio Channels|Audio System|Audio Codec|Audio Languages|Orion Popularity|Orion Age" subsetting="true" visible="eq(-2,true)" />
    <setting id="Orion_info.2" type="enum" label="Info 2" default="11" values="None|Stream Provider|Stream Hoster|Torrent Seeds|File Size|Season Pack|Release Edition|Release Name|Uploader Name|Video Quality|Video Codec|Video 3D|Audio Channels|Audio System|Audio Codec|Audio Languages|Orion Popularity|Orion Age" subsetting="true" visible="eq(-3,true)" />
    <setting id="Orion_info.3" type="enum" label="Info 3" default="12" values="None|Stream Provider|Stream Hoster|Torrent Seeds|File Size|Season Pack|Release Edition|Release Name|Uploader Name|Video Quality|Video Codec|Video 3D|Audio Channels|Audio System|Audio Codec|Audio Languages|Orion Popularity|Orion Age" subsetting="true" visible="eq(-4,true)" />
    <setting id="Orion_info.4" type="enum" label="Info 4" default="13" values="None|Stream Provider|Stream Hoster|Torrent Seeds|File Size|Season Pack|Release Edition|Release Name|Uploader Name|Video Quality|Video Codec|Video 3D|Audio Channels|Audio System|Audio Codec|Audio Languages|Orion Popularity|Orion Age" subsetting="true" visible="eq(-5,true)" />
    <setting id="Orion_info.5" type="enum" label="Info 5" default="14" values="None|Stream Provider|Stream Hoster|Torrent Seeds|File Size|Season Pack|Release Edition|Release Name|Uploader Name|Video Quality|Video Codec|Video 3D|Audio Channels|Audio System|Audio Codec|Audio Languages|Orion Popularity|Orion Age" subsetting="true" visible="eq(-6,true)" />
    <setting id="Orion_info.6" type="enum" label="Info 6" default="4" values="None|Stream Provider|Stream Hoster|Torrent Seeds|File Size|Season Pack|Release Edition|Release Name|Uploader Name|Video Quality|Video Codec|Video 3D|Audio Channels|Audio System|Audio Codec|Audio Languages|Orion Popularity|Orion Age" subsetting="true" visible="eq(-7,true)" />
    <setting id="Orion_info.7" type="enum" label="Info 7" default="3" values="None|Stream Provider|Stream Hoster|Torrent Seeds|File Size|Season Pack|Release Edition|Release Name|Uploader Name|Video Quality|Video Codec|Video 3D|Audio Channels|Audio System|Audio Codec|Audio Languages|Orion Popularity|Orion Age" subsetting="true" visible="eq(-8,true)" />
    <setting id="Orion_info.8" type="enum" label="Info 8" default="16" values="None|Stream Provider|Stream Hoster|Torrent Seeds|File Size|Season Pack|Release Edition|Release Name|Uploader Name|Video Quality|Video Codec|Video 3D|Audio Channels|Audio System|Audio Codec|Audio Languages|Orion Popularity|Orion Age" subsetting="true" visible="eq(-9,true)" />
    <setting id="Orion_info.9" type="enum" label="Info 9" default="17" values="None|Stream Provider|Stream Hoster|Torrent Seeds|File Size|Season Pack|Release Edition|Release Name|Uploader Name|Video Quality|Video Codec|Video 3D|Audio Channels|Audio System|Audio Codec|Audio Languages|Orion Popularity|Orion Age" subsetting="true" visible="eq(-10,true)" />
    <setting id="Orion_info.10" type="enum" label="Info 10" default="0" values="None|Stream Provider|Stream Hoster|Torrent Seeds|File Size|Season Pack|Release Edition|Release Name|Uploader Name|Video Quality|Video Codec|Video 3D|Audio Channels|Audio System|Audio Codec|Audio Languages|Orion Popularity|Orion Age" subsetting="true" visible="eq(-11,true)" />
    <setting id="Orion_info.11" type="enum" label="Info 11" default="0" values="None|Stream Provider|Stream Hoster|Torrent Seeds|File Size|Season Pack|Release Edition|Release Name|Uploader Name|Video Quality|Video Codec|Video 3D|Audio Channels|Audio System|Audio Codec|Audio Languages|Orion Popularity|Orion Age" subsetting="true" visible="eq(-12,true)" />
    <setting id="Orion_info.12" type="enum" label="Info 12" default="0" values="None|Stream Provider|Stream Hoster|Torrent Seeds|File Size|Season Pack|Release Edition|Release Name|Uploader Name|Video Quality|Video Codec|Video 3D|Audio Channels|Audio System|Audio Codec|Audio Languages|Orion Popularity|Orion Age" subsetting="true" visible="eq(-13,true)" />
    <setting id="Orion_info.13" type="enum" label="Info 13" default="0" values="None|Stream Provider|Stream Hoster|Torrent Seeds|File Size|Season Pack|Release Edition|Release Name|Uploader Name|Video Quality|Video Codec|Video 3D|Audio Channels|Audio System|Audio Codec|Audio Languages|Orion Popularity|Orion Age" subsetting="true" visible="eq(-14,true)" />
    <setting id="Orion_info.14" type="enum" label="Info 14" default="0" values="None|Stream Provider|Stream Hoster|Torrent Seeds|File Size|Season Pack|Release Edition|Release Name|Uploader Name|Video Quality|Video Codec|Video 3D|Audio Channels|Audio System|Audio Codec|Audio Languages|Orion Popularity|Orion Age" subsetting="true" visible="eq(-15,true)" />
    <setting id="Orion_info.15" type="enum" label="Info 15" default="0" values="None|Stream Provider|Stream Hoster|Torrent Seeds|File Size|Season Pack|Release Edition|Release Name|Uploader Name|Video Quality|Video Codec|Video 3D|Audio Channels|Audio System|Audio Codec|Audio Languages|Orion Popularity|Orion Age" subsetting="true" visible="eq(-16,true)" />
    <!-- [/ORION] -->

    
		<setting label="AnimeToon" type="lsep"/>
		<setting id="AnimeToon_enabled" type="bool" label="Enabled" default="true"/>
		<setting label="BNWmovies" type="lsep"/>
		<setting id="BNWmovies_enabled" type="bool" label="Enabled" default="true"/>
		<setting label="CoolTV" type="lsep"/>
		<setting id="CoolTV_enabled" type="bool" label="Enabled" default="true"/>
		<setting label="EZTV" type="lsep"/>
		<setting id="EZTV_enabled" type="bool" label="Enabled" default="true"/>
		<setting label="filuit" type="lsep"/>
		<setting id="filuit_enabled" type="bool" label="Enabled" default="true"/>
		<setting label="FreeMusic" type="lsep"/>
		<setting id="FreeMusic_enabled" type="bool" label="Enabled" default="true"/>
		<setting label="GoWatchSeries" type="lsep"/>
		<setting id="GoWatchSeries_enabled" type="bool" label="Enabled" default="true"/>
		<setting label="Idope" type="lsep"/>
		<setting id="Idope_enabled" type="bool" label="Enabled" default="true"/>
		<setting label="Kickass" type="lsep"/>
		<setting id="Kickass_enabled" type="bool" label="Enabled" default="true"/>
		<setting label="Movie Jesus" type="lsep"/>
		<setting id="Movie Jesus_enabled" type="bool" label="Enabled" default="true"/>
		<setting label="MoviesFoundOnline" type="lsep"/>
		<setting id="MoviesFoundOnline_enabled" type="bool" label="Enabled" default="true"/>
		<setting label="MP3guild" type="lsep"/>
		<setting id="MP3guild_enabled" type="bool" label="Enabled" default="true"/>
		<setting label="OceanofMovies" type="lsep"/>
		<setting id="OceanofMovies_enabled" type="bool" label="Enabled" default="true"/>
		<setting label="OnceDDl" type="lsep"/>
		<setting id="OnceDDl_enabled" type="bool" label="Enabled" default="true"/>
		<setting label="one337x" type="lsep"/>
		<setting id="one337x_enabled" type="bool" label="Enabled" default="true"/>
		<setting label="PirateBay" type="lsep"/>
		<setting id="PirateBay_enabled" type="bool" label="Enabled" default="true"/>
		<setting label="PirateIro" type="lsep"/>
		<setting id="PirateIro_enabled" type="bool" label="Enabled" default="true"/>
		<setting label="Primewire" type="lsep"/>
		<setting id="Primewire_enabled" type="bool" label="Enabled" default="true"/>
		<setting label="PutlockerOnline" type="lsep"/>
		<setting id="PutlockerOnline_enabled" type="bool" label="Enabled" default="true"/>
		<setting label="Putlockers" type="lsep"/>
		<setting id="Putlockers_enabled" type="bool" label="Enabled" default="true"/>
		<setting label="SeriesOnline8" type="lsep"/>
		<setting id="SeriesOnline8_enabled" type="bool" label="Enabled" default="true"/>
		<setting label="Sky Torrents" type="lsep"/>
		<setting id="Sky Torrents_enabled" type="bool" label="Enabled" default="true"/>
		<setting label="SwatchSeries" type="lsep"/>
		<setting id="SwatchSeries_enabled" type="bool" label="Enabled" default="true"/>
		<setting label="TheWatchSeries" type="lsep"/>
		<setting id="TheWatchSeries_enabled" type="bool" label="Enabled" default="true"/>
		<setting label="TubiTv" type="lsep"/>
		<setting id="TubiTv_enabled" type="bool" label="Enabled" default="true"/>
		<setting label="WatchEpisodes4" type="lsep"/>
		<setting id="WatchEpisodes4_enabled" type="bool" label="Enabled" default="true"/>
	</category>
	<category label="Scrapers 2">
		<setting label="WatchEpSeries" type="lsep"/>
		<setting id="WatchEpSeries_enabled" type="bool" label="Enabled" default="true"/>
		<setting label="WatchSeries" type="lsep"/>
		<setting id="WatchSeries_enabled" type="bool" label="Enabled" default="true"/>
		<setting label="Zooqle" type="lsep"/>
		<setting id="Zooqle_enabled" type="bool" label="Enabled" default="true"/>
	</category>
</settings>